.social-icon {
    color: lightskyblue;
    transition: color 0.2s;
    text-decoration: none;
    margin: 10px;
    font-size: 2rem;

}
.social-icon:hover {
    color: #333333;
}
.headshot {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    float: right;
}
.background-color {
    background-color: whitesmoke;
}

.line-1 {
    position: relative;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid black;
    font-size: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);  
    color: black;
    
}
/* Animation */
.anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 24em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: black;}
    to{border-right-color: transparent;}
  }